<div class="header">
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">   
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <div class="text-center" class="text-center">
              <h1 class="muted">Mismatch</h1>
            </div>
            <li>
              <button class="btn btn-outline-primary"><%= link_to "Home", posts_path %></button>
            </li>
            <li>
              <button class="btn btn-outline-primary"><%= link_to "Add post", new_post_path %></button>
            </li>
            <li>
              <button class="btn btn-outline-primary"><%= link_to "Profile", profiles_path %></button>
            </li>
          </ul>
          <form >
            <%= form_with url: "/posts", method: :get do |form| %>
              <%= form.text_field :search_key %>                      
              <%= form.submit "Search"%>
            <% end %> 
          </form>
        </div>
      </div>
    </nav>
  
</div> 